langchain-openai
langchain
python-dotenv
langchain_community
streamlit
langchain_core
watchdog
langchain_groq
pypdf
bs4
langchain-text-splitters
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
numpy
pandas
openai
